{% extends 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <link href="{% static 'style1.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Playfair+Display&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Teko:wght@500&display=swap" rel="stylesheet">

<link href="../static/lib/animate/animate.min.css" rel="stylesheet">
<link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

<!-- Customized Bootstrap Stylesheet -->
<link href="../static/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

    <title>Document</title>
</head>
<body>
 {% block content %}
  

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner inner12">
          <div class="carousel-item  carousel-image bg-img-1">
           
            <h1 class="text-light pic1">About US</h1>
            <img class="whats" src="./icons8-whatsapp-50.png" alt="">
            <div class="banner-btm-wrapper">
              <div class="mouse-holder">
                  <a href="base"></a>
              </div>
          </div>
          </div>
          <div class="carousel-item  carousel-image bg-img-2">
            
            <h1 class="text-light pic1">About US</h1>
            <img class="whats" src="./icons8-whatsapp-50.png" alt="">
            <div class="banner-btm-wrapper">
              <div class="mouse-holder">
                  <a href="base"></a>
              </div>
          </div>
          </div>
          <div class="carousel-item active carousel-image bg-img-3">
            
            <h1 class="text-light pic1">About US</h1>
            <img class="whats" src="./icons8-whatsapp-50.png" alt="">
            <div class="banner-btm-wrapper">
              <div class="mouse-holder">
                  <a href="base"></a>
              </div>
          </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


      <div class="container">
 <div class="col-lg-12 col-md-12 col-sm-12  ">
        <p class="choice text-center">Welcome to Round D’Planet –<br> Your Passport to Extraordinary Journeys!</p>
      <p class="text-center pt-3"> At Round D’Planet, we’re not just travel enthusiasts; we’re your dedicated companions on the road to unforgettable adventures. Our journey together is defined by passion, experience, and a commitment to crafting personalized travel experiences that linger in your heart forever </p>
      </div>
      </div>
     
       
     


    
            <main class="space">
              <div class="container  pt-3 pb-3 ">
                <div class="row pt-2 pb-5">
                    <div class="col-lg-6 col-md-6  wow fadeInUp" data-wow-delay="0.5s">
                        <img class="pic4 w-100 p-5" src="{% static 'images/beautiful-collage-travel-concept.jpg' %}" alt="">
                      </div>
                  <div class="col-lg-6 col-md-6  wow fadeInUp " data-wow-delay="0.1s">
                    <p class="choice pt-5">Our Mission </p>
                    <p class="pt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta dicta ducimus neque nemo nesciunt, assumenda ut nihil deserunt fuga? Aliquid odio quia repellat laboriosam consequatur quisquam voluptate cum culpa soluta? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa similique explicabo voluptas, vero dolore perferendis totam, quisquam commodi tempora modi quae quasi, consectetur itaque esse impedit reiciendis doloremque possimus? Quia? . <br> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa similique explicabo voluptas, vero dolore perferendis totam, quisquam commodi tempora modi quae quasi, consectetur itaque esse impedit reiciendis doloremque possimus? Quia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem iste quia velit, error deserunt accusantium quasi dolorum nulla neque officia nisi possimus optio in cum explicabo! Dolorem quia totam iure
                    </p>
                    <!-- <button class="btn btn-dark mt-5">Read more</button> -->
                  </div>
                 
                </div>
              </div>
            </main>

            <div class="container">
                <div class="col-lg-12">
                    <div class="row">
                     <p class="choice">Why Choose Round D’Planet?</p>
                     <p class="pt-3 "><i class="fa fa-check text-primary"></i> <b>Business Brilliance:</b> For the corporate explorer, we curate exceptional business tours. Dive into government meetings, explore factories, and seize lucrative business opportunities in exotic locales.</p>
                     <p class="pt-3"><i  class="fa fa-check text-primary p-1"></i><b>Educational Exploration:</b>We believe that education should transcend classrooms. Our educational tours for schools and colleges transform learning into a thrilling adventure..</p>
                     <p class="pt-3"><i class="fa fa-check text-primary"></i> <b>Adventure Awaits:</b> Seek adrenaline-charged experiences? Our adventurous tours are designed for thrill-seekers who crave excitement and exploration.</p>
                     <p class="pt-3"><i class="fa fa-check text-primary"></i> <b>Business Brilliance:</b> For the corporate explorer, we curate exceptional business tours. Dive into government meetings, explore factories, and seize lucrative business opportunities in exotic locales.</p>
                     <p class="pt-3"><i class="fa fa-check text-primary"></i> <b>Business Brilliance:</b> For the corporate explorer, we curate exceptional business tours. Dive into government meetings, explore factories, and seize lucrative business opportunities in exotic locales.</p>
                     <p class="pt-3"><i class="fa fa-check text-primary"></i> <b>Business Brilliance:</b> For the corporate explorer, we curate exceptional business tours. Dive into government meetings, explore factories, and seize lucrative business opportunities in exotic locales.</p>
                     <p class="pt-3"><i class="fa fa-check text-primary"></i> <b>Business Brilliance:</b> For the corporate explorer, we curate exceptional business tours. Dive into government meetings, explore factories, and seize lucrative business opportunities in exotic locales.</p>

                    <p  class="pt-5 pb-5 fw-900"> Join us at Round D’Planet, where each adventure is a story waiting to be written, and each traveler is family. Let’s embark on a journey that’ll fill your life with stories, smiles, and unforgettable moments. Your adventure starts with us!</p> 
                    </div>
                </div>
            </div>
           
               

               
               
             
          
           
           <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
           <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
           <script src="../static/lib/wow/wow.min.js"></script>
           <script src="../static/lib/easing/easing.min.js"></script>
           <script src="../static/lib/waypoints/waypoints.min.js"></script>
           <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
       
           <!-- Template Javascript -->
           <script src="{% static 'main.js' %}"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
      {%  endblock %}
    </body>
</html>