{% extends 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <link href="{% static 'style1.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Playfair+Display&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Teko:wght@500&display=swap" rel="stylesheet">

<link href="../static/lib/animate/animate.min.css" rel="stylesheet">
<link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

<!-- Customized Bootstrap Stylesheet -->
<link href="../static/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
    <title>Document</title>
</head>
<body>
{% block content %}
  
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner inner12">
          <div class="carousel-item  carousel-image bg-img-1">
           
            <h1 class="text-light pic1">Gallery</h1>
            <img class="whats" src="./icons8-whatsapp-50.png" alt="">
            <div class="banner-btm-wrapper">
              <div class="mouse-holder">
                  <a href="base"></a>
              </div>
          </div>
          </div>
          <div class="carousel-item  carousel-image bg-img-2">
            
            <h1 class="text-light pic1">Gallery</h1>
            <img class="whats" src="./icons8-whatsapp-50.png" alt="">
            <div class="banner-btm-wrapper">
              <div class="mouse-holder">
                  <a href="base"></a>
              </div>
          </div>
          </div>
          <div class="carousel-item active carousel-image bg-img-3">
            
            <h1 class="text-light pic1">Gallery</h1>
            <img class="whats" src="./icons8-whatsapp-50.png" alt="">
            <div class="banner-btm-wrapper">
              <div class="mouse-holder">
                  <a href="base"></a>
              </div>
          </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


      <div class="container">
        <div class="row pt-5">
            {%for i in db %}
            <div class="col-lg-4 gall">
              <img class="w-100" src="{{i.images.url}}" alt=""> 
            </div>
            {%endfor%}
        </div>
      </div>

      
               
          
      

           <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
           <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
           <script src="../static/lib/wow/wow.min.js"></script>
           <script src="../static/lib/easing/easing.min.js"></script>
           <script src="../static/lib/waypoints/waypoints.min.js"></script>
           <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
       
           <!-- Template Javascript -->
           <script src="{% static 'main.js' %}"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    {%endblock%}
    </body>
</html>